@model ProductionHoursLosses.Models.ViewModels.HeaderViewModel
@using ProductionHoursLosses.Models

<h4>Enter details:</h4>
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-group">
    @Html.Label("Start Time: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedStartTime, new { htmlAttributes = new { @class = "form-control", id = "timepickerId" } })
        @Html.ValidationMessageFor(model => model.SelectedStartTime, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("End Time: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })

    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedEndTime, new { htmlAttributes = new { @class = "form-control", id = "timepickerId" } })
        @Html.ValidationMessageFor(model => model.SelectedEndTime, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Product: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        <select class="" id="SelectedProductDropDownId" style="" onchange="OnDropDownProductChange()">
            @if (Model.SelectedProductId != null)
            {
                <option value="@Model.SelectedProductId" selected>@Model.SelectedProduct.DESCRIPTION</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.SelectedProductId, "", new { @class = "text-danger" })
        <br />
        <br />
    </div>
</div>

<div class="form-group">
    @Html.Label("Batch Number: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })

    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedBatchNo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedBatchNo, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Work Order: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })

    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedWorkOrder, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedWorkOrder, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Shift: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        <select class="" id="SelectedShiftDropDownId" style="" onchange="OnDropDownShiftChange()">
            @if (Model.SelectedShift != null)
            {
                <option value="@Model.SelectedShift" selected>@Model.SelectedShift</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.SelectedShift, "", new { @class = "text-danger" })
        <br />
        <br />
    </div>
</div>

<div class="form-group">
    @Html.Label("Actual Hours:", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        <select class="" id="SelectedActualHoursDropDownId" style="" onchange="OnDropDownActualHoursChange()">
            @if (Model.SelectedActualHours != null)
            {
                <option value="@Model.SelectedActualHours" selected>@Model.SelectedActualHours</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.SelectedActualHours, "", new { @class = "text-danger" })
        <br />
        <br />
    </div>
</div>

<div class="form-group">
    @Html.Label("Tablet weight (mg):", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedUnitWeight, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedUnitWeight, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Speed Machine RPM:", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedSpeedMachineRpm, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedSpeedMachineRpm, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Actual Quantity (Kg):", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedActualQuantity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedActualQuantity, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Num. of people:", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedNumPeople, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedNumPeople, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Tablets:", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedUnits, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedUnits, "", new { @class = "text-danger" })
    </div>
</div>

<button class="btn btn-success" title="Create" name="AddDetail" type="submit" value="AddDetail">
    <span class="fa fa-plus"></span> Create Detail
</button>

@if (Model.DetailsList != null && Model.DetailsList.Any())
{
    <table class="tableStyle">
        <thead>
            <tr>
                <th>
                    @Html.Raw("A/A")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Start Time")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("End Time")
                </th>
                <th>
                    @Html.DisplayName("Product")
                </th>
                <th>
                    @Html.DisplayName("Batch Number")
                </th>
                <th>
                    @Html.DisplayName("Work Order")
                </th>
                <th>
                    @Html.DisplayName("Shift")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Actual Hours")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Tablet weight (mg)")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Speed Machine RPM")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Actual Quantity (Kg)")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Num. People")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Num. Tablets")
                </th>
                <th style="width:99px; max-width:99px;">
                    @Html.Label("Actions")
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.DetailsList.Count; i++)
            {
                <tr>
                    <td>
                        @*@Html.TextBox((i+1), "", new { @type = "number", @class = "form-control", @style = "width: 70px; max-width: 100%", @min = "1", @max = Model.DetailsList.Count })*@
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].AA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].START_TIME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].END_TIME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].PRODUCT.DESCRIPTION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].BATCH_NO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].WORK_ORDER)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].SHIFT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].ACTUAL_HRS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].UNIT_WEIGHT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].SPEED_MACHINE_RPM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].ACTUAL_QTY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].NUM_PEOPLE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelDetail => Model.DetailsList[i].UNITS)
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" title="Edit" type="button" data-toggle="modal" data-target="#editTableRow"
                                data-id="@Model.DetailsList[i].AA"
                                data-startTime="@Model.DetailsList[i].START_TIME"
                                data-endTime="@Model.DetailsList[i].END_TIME"
                                data-productId="@Model.DetailsList[i].PRODUCT_ID"
                                data-productName="@Model.DetailsList[i].PRODUCT.DESCRIPTION"
                                data-batchNo="@Model.DetailsList[i].BATCH_NO"
                                data-workOrder="@Model.DetailsList[i].WORK_ORDER"
                                data-shift="@Model.DetailsList[i].SHIFT"
                                data-actualHours="@Model.DetailsList[i].ACTUAL_HRS"
                                data-unitWeight="@Model.DetailsList[i].UNIT_WEIGHT"
                                data-speedMachine="@Model.DetailsList[i].SPEED_MACHINE_RPM"
                                data-actualQty="@Model.DetailsList[i].ACTUAL_QTY"
                                data-numPeople="@Model.DetailsList[i].NUM_PEOPLE"
                                data-units="@Model.DetailsList[i].UNITS">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-warning btn-sm" title="Add Losses" onclick="AddDetailLosses('@Model.DetailsList[i].AA');">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" title="Delete" onclick="DeleteDetail('@Model.DetailsList[i].AA');">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
