@model ProductionHoursLosses.Models.ViewModels.HeaderViewModel
@using ProductionHoursLosses.Models

<h4>Enter details:</h4>
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-group">
    @Html.Label("Start Time: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedStartTime, new { htmlAttributes = new { @class = "form-control", id = "timepickerId" } })
        @Html.ValidationMessageFor(model => model.SelectedStartTime, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("End Time: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })

    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedEndTime, new { htmlAttributes = new { @class = "form-control", id = "timepickerId" } })
        @Html.ValidationMessageFor(model => model.SelectedEndTime, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Product: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        <select class="" id="SelectedProductDropDownId" style="" onchange="OnDropDownProductChange()">
            @if (Model.SelectedProductId != null)
            {
                <option value="@Model.SelectedProductId" selected>@Model.SelectedProduct.DESCRIPTION</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.SelectedProductId, "", new { @class = "text-danger" })
        <br />
        <br />
    </div>
</div>

<div class="form-group">
    @Html.Label("Batch Number: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })

    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedBatchNo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedBatchNo, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Work Order: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })

    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedWorkOrder, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedWorkOrder, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Shift: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        <select class="" id="SelectedShiftDropDownId" style="" onchange="OnDropDownShiftChange()">
            @if (Model.SelectedShift != null)
            {
                <option value="@Model.SelectedShift" selected>@Model.SelectedShift</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.SelectedShift, "", new { @class = "text-danger" })
        <br />
        <br />
    </div>
</div>

<div class="form-group">
    @Html.Label("Actual Hours:", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        <select class="" id="SelectedActualHoursDropDownId" style="" onchange="OnDropDownActualHoursChange()">
            @if (Model.SelectedActualHours != null)
            {
                <option value="@Model.SelectedActualHours" selected>@Model.SelectedActualHours</option>
            }
        </select>
        @Html.ValidationMessageFor(model => model.SelectedActualHours, "", new { @class = "text-danger" })
        <br />
        <br />
    </div>
</div>

<div class="form-group">
    @Html.Label("Tablet weight (mg):", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedUnitWeight, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedUnitWeight, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Speed Machine RPM:", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedSpeedMachineRpm, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedSpeedMachineRpm, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Actual Quantity (Kg):", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedActualQuantity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedActualQuantity, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Num. of people:", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedNumPeople, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedNumPeople, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Tablets:", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SelectedUnits, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SelectedUnits, "", new { @class = "text-danger" })
    </div>
</div>

<button class="btn btn-success" title="Create" name="AddDetail" type="submit" value="AddDetail">
    <span class="fa fa-plus"></span> Create Detail
</button>

@if (Model.DetailsList != null && Model.DetailsList.Any())
{
    <table class="tableStyle">
        <thead>
            <tr>
                <th>
                    @Html.Raw("A/A")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Start Time")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("End Time")
                </th>
                <th>
                    @Html.DisplayName("Product")
                </th>
                <th>
                    @Html.DisplayName("Batch Number")
                </th>
                <th>
                    @Html.DisplayName("Work Order")
                </th>
                <th>
                    @Html.DisplayName("Shift")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Actual Hours")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Tablet weight (mg)")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Speed Machine RPM")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Actual Quantity (Kg)")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Num. People")
                </th>
                <th style="text-align:right">
                    @Html.DisplayName("Num. Tablets")
                </th>
                <th style="width:99px; max-width:99px;">
                    @Html.Label("Actions")
                </th>
                <th style="width:99px; max-width:99px;">
                    @Html.Label("Losses")
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.DetailsList.Count; i++)
            {
            <tr>
                <td>
                    @Html.Label((i + 1).ToString())
                    @*@Html.DisplayFor(modelDetail => Model.DetailsList[i].AA)*@
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].START_TIME)
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].END_TIME)
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].PRODUCT.DESCRIPTION)
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].BATCH_NO)
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].WORK_ORDER)
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].SHIFT)
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].ACTUAL_HRS)
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].UNIT_WEIGHT)
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].SPEED_MACHINE_RPM)
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].ACTUAL_QTY)
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].NUM_PEOPLE)
                </td>
                <td>
                    @Html.DisplayFor(modelDetail => Model.DetailsList[i].UNITS)
                </td>
                <td>
                    <button class="btn btn-warning btn-sm" title="Edit" type="button" data-toggle="modal" data-target="#editTableRow"
                            data-id="@Model.DetailsList[i].AA"
                            data-starttime="@Model.DetailsList[i].START_TIME.ToString("HH:mm")"
                            data-endtime="@Model.DetailsList[i].END_TIME.ToString("HH:mm")"
                            data-productid="@Model.DetailsList[i].PRODUCT_ID"
                            data-productname="@Model.DetailsList[i].PRODUCT.DESCRIPTION"
                            data-batchno="@Model.DetailsList[i].BATCH_NO"
                            data-workorder="@Model.DetailsList[i].WORK_ORDER"
                            data-shift="@Model.DetailsList[i].SHIFT"
                            data-actualhours="@Model.DetailsList[i].ACTUAL_HRS"
                            data-unitweight="@Model.DetailsList[i].UNIT_WEIGHT"
                            data-speedmachine="@Model.DetailsList[i].SPEED_MACHINE_RPM"
                            data-actualqty="@Model.DetailsList[i].ACTUAL_QTY"
                            data-numpeople="@Model.DetailsList[i].NUM_PEOPLE"
                            data-units="@Model.DetailsList[i].UNITS">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-success btn-sm" title="Add" type="button" data-toggle="modal" data-target="#addDetailLoss"
                            data-id="@Model.DetailsList[i].AA">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" title="Delete" onclick="DeleteDetail('@Model.DetailsList[i].AA');">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
                <td>
                    if (Model.DetailsList[i].DetailLossesList != null && Model.DetailsList[i].DetailLossesList.Any())
                    {
                    <table class="tableStyle">
                        <thead>
                            <tr>
                                <th>
                                    @Html.Raw("A/A")
                                </th>
                                <th style="text-align:left">
                                    @Html.DisplayName("Loss")
                                </th>
                                <th style="text-align:right">
                                    @Html.DisplayName("Duration")
                                </th>
                                <th style="width:99px; max-width:99px;">
                                    @Html.Label("Actions")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < Model.DetailsList[i].DetailLossesList.Count; j++)
                            {
                                <tr>
                                    <td>
                                        @Html.Label((j + 1).ToString())
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelDetailLoss => Model.DetailsList[i].DetailLossesList[j].LOSSES.DESCRIPTION)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelDetailLoss => Model.DetailsList[i].DetailLossesList[j].DURATION)
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-sm" title="Edit" type="button" data-toggle="modal" data-target="#editTableLossesRow"
                                                data-id="@Model.DetailsList[i].DetailLossesList[j].AA"
                                                data-detailid="@Model.DetailsList[i].AA"
                                                data-duration="@Model.DetailsList[i].DetailLossesList[j].DURATION"
                                                data-lossid="@Model.DetailsList[i].DetailLossesList[j].LOSSES_ID"
                                                data-lossname="@Model.DetailsList[i].DetailLossesList[j].LOSSES.DESCRIPTION">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm" title="Delete" onclick="DeleteDetailLoss('@Model.DetailsList[i].DetailLossesList[j].AA','@Model.DetailsList[i].AA');">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                </td>
            </tr>
                    }
                
            
                </tbody>
    </table>

}


<div id="editTableLossesRow" role="dialog" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Heading">Edit loss</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                @Html.Hidden("RowTableDetailAA", "", htmlAttributes: new { @class = "control-label", style = "color:#A93226", @id = "RowTableMasterAA" })
                @Html.Hidden("RowTableDetailLossAA", "", htmlAttributes: new { @class = "control-label", style = "color:#A93226", @id = "RowTableMasterAA" })

                @Html.Label("Loss: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                <div id="divLossId" style="display:block">
                    <select class="" id="SelectLossIdDropDownIdUpdateDetailLossFromModal" style="" onchange="OnDropDownLossIdChangeUpdateDetailLossFromModal()"></select>
                </div>
                <br />

                @Html.Label("Duration (mins): *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                @Html.TextBox("LossDurationModalFormId", "", new
           {
               @class = "form-control required",
               @min = "0",
               @type = "number",
               @id = "LossDurationModalFormId",
           })
                <br />

                <br />
            </div>
            <div class="modal-footer ">
                <button type="submit" name="button" value="UpdateDetail" id="modal2OK" class="btn btn-success" data-dismiss="modal" onclick="UpdateDetailLoss()" disabled><span class="glyphicon glyphicon-ok-sign"></span> OK</button>
            </div>
        </div>
    </div>
</div>

<div id="editTableRow" role="dialog" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Heading">Edit detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                @Html.Hidden("RowTableMasterAA", "", htmlAttributes: new { @class = "control-label", style = "color:#A93226", @id = "RowTableMasterAA" })


                @Html.Label("Start Time: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                @Html.TextBox("StartTimeModalFormId", "", new
           {
               @class = "form-control required",
               @min = "0",
               @type = "time",
               @id = "StartTimeModalFormId",
           })
                <br />

                @Html.Label("End Time: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                @Html.TextBox("EndTimeModalFormId", "", new
           {
               @class = "form-control required",
               @min = "0",
               @type = "time",
               @id = "EndTimeModalFormId",
           })
                <br />

                @Html.Label("Product: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                <div id="divProductId2" style="display:block">
                    <select class="" id="SelectProductIdDropDownIdCreateDetailFromModal" style="" onchange="OnDropDownProductIdChangeCreateDetailFromModal()"></select>
                </div>
                <br />

                @Html.Label("Batch Number: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                @Html.TextBox("BatchNoModalFormId", "", new
           {
               @class = "form-control required",
               @min = "0",
               @type = "string",
               @id = "BatchNoModalFormId",
           })
                <br />


                @Html.Label("Work Order: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                @Html.TextBox("WorkOrderModalFormId", "", new
           {
               @class = "form-control required",
               @min = "0",
               @type = "string",
               @id = "WorkOrderModalFormId",
           })
                <br />

                @Html.Label("Shift: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                <div id="divShift2" style="display:block">
                    <select class="" id="SelectShiftDropDownIdCreateDetailFromModal" style="" onchange="OnDropDownShiftChangeCreateDetailFromModal()"></select>
                </div>
                <br />

                @Html.Label("Actual Hours: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                <div id="divActHrs2" style="display:block">
                    <select class="" id="SelectActualHrsDropDownIdCreateDetailFromModal" style="" onchange="OnDropDownActualHrsChangeCreateDetailFromModal()"></select>
                </div>
                <br />

                @Html.Label("Unit Weight (mg): *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                @Html.TextBox("UnitWeightModalFormId", "", new
           {
               @class = "form-control required",
               @min = "0",
               @type = "string",
               @id = "UnitWeightModalFormId",
           })
                <br />

                @Html.Label("Speed Machine RPM: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                @Html.TextBox("SpeedMachineModalFormId", "", new
           {
               @class = "form-control required",
               @min = "0",
               @max="100",
               @type = "number",
               @id = "SpeedMachineModalFormId",
           })
                <br />

                @Html.Label("Actual Quantity (Kg): *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                @Html.TextBox("ActualQtyModalFormId", "", new
           {
               @class = "form-control required",
               @min = "0",
               @type = "number",
               @id = "ActualQtyModalFormId",
           })
                <br />

                @Html.Label("Num. People: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                @Html.TextBox("NumPeopleModalFormId", "", new
           {
               @class = "form-control required",
               @min = "0",
               @type = "number",
               @id = "NumPeopleModalFormId",
           })
                <br />

                @Html.Label("Units: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                @Html.TextBox("UnitsModalFormId", "", new
           {
               @class = "form-control required",
               @min = "0",
               @type = "number",
               @id = "UnitsModalFormId",
           })
                <br />

                <br />
            </div>
            <div class="modal-footer ">
                <button type="submit" name="button" value="UpdateDetail" id="modalOK" class="btn btn-success" data-dismiss="modal" onclick="Update()" disabled><span class="glyphicon glyphicon-ok-sign"></span> OK</button>
            </div>
        </div>
    </div>
</div>


<div id="addDetailLoss" role="dialog" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Heading">Add detail loss</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">

                @Html.Hidden("RowTableMasterAA", "", htmlAttributes: new { @class = "control-label", style = "color:#A93226", @id = "RowTableMasterAA" })



                @Html.Label("Loss: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                <div id="divLossId" style="display:block">
                    <select class="" id="SelectLossIdDropDownIdCreateDetailLossFromModal" style="" onchange="OnDropDownLossIdChangeCreateDetailLossFromModal()"></select>
                </div>
                <br />

                @Html.Label("Duration (mins): *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                @Html.TextBox("LossDurationModalFormId", "", new
           {
               @class = "form-control required",
               @min = "0",
               @type = "number",
               @id = "LossDurationModalFormId",
           })
                <br />

                <br />
            </div>
            <div class="modal-footer ">
                <button type="submit" name="button" value="UpdateDetailLoss" id="modal2OK" class="btn btn-success" data-dismiss="modal" onclick="AddDetailLoss()" disabled><span class="glyphicon glyphicon-ok-sign"></span> OK</button>
            </div>
        </div>
    </div>
</div>
