@model ProductionHoursLosses.Models.ViewModels.HeaderViewModel
@using ProductionHoursLosses.Models

@{
    ViewBag.Title = "Create";
}

<head>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <script src="~/Scripts/select2.js"></script>
    @*<script src="~/Scripts/jquery-3.5.1.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


    @*<script type='text/javascript'>
            $(function () {
                $('.datepicker').datepicker();
            })
        </script>*@
</head>

<h2>Create</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formSubmit" }))
{
    @Html.AntiForgeryToken()
    Html.RenderPartial("~/Views/Shared/_HiddenInputFields.cshtml", Model);


    @*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />*@
    <!-- External toolbar sample -->
    <div class="row d-flex align-items-center p-3 my-3 text-white-50">
        <div class="col-12 col-lg-6 col-sm-12">
            <label>Change the wizard theme:</label>
            <select id="theme_selector" class="select2">
                <option value="arrows">arrows</option>
                <option value="default">default</option>
                <option value="circles">circles</option>
                <option value="dots">dots</option>
            </select>
        </div>
    </div>

    if (ViewBag.ErrorList != null && (ViewBag.ErrorList as List<string>).Any())
    {
        <div class="panel panel-danger">
            <div class="panel-heading">Warnings/Errors</div>
            <div class="panel-body">
                <ol>
                    @foreach (string item in ViewBag.ErrorList as List<string>)
                    {
                        <li>@item</li>
                    }
                </ol>
            </div>
        </div>
    }


<div class="form-group">
    <!-- SmartWizard html -->
    <div id="smartwizard">
        <ul>
            <li><a href="#step-1">Step 1<br /><small>Enter Header information</small></a></li>
            <li><a href="#step-2">Step 2<br /><small>Enter Details</small></a></li>
            <li><a href="#step-3">Step 3<br /><small>Authentication</small></a></li>
        </ul>

        <div>
            <div id="step-1" class="">
                @{
                    Html.RenderPartial("~/Views/Shared/_CreateHeaderInfo.cshtml", Model);
                }
            </div>

            <div id="step-2" class="">
                @{
                    Html.RenderPartial("~/Views/Shared/_CreateHeaderDetails.cshtml", Model);
                }
            </div>
            <div id="step-3" class="">
                <h2>Step 3: Authentication</h2>
            </div>
        </div>


    </div>
</div>





    @*<div class="form-horizontal">


            <div class="col-md-offset-2 col-md-10">
                <button id="addDetail" onclick="AddDetailClicked()" type="button" class="btn btn-default"><span class="fa fa-plus"></span> Add Detail</button>
            </div>


            <div class="form-group" id="divDetails" style="display:none">




                <div class="col-md-offset-2 col-md-10">
                    <button id="addDetailLosses" onclick="AddDetailLossesClicked()" type="button" class="btn btn-default"><span class="fa fa-plus"></span> Add Detail Losses</button>
                </div>

                <div class="form-group" id="divDetailLosses" style="display:none">
                    <h4>Enter detail losses:</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("Losses: *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                        <div class="col-md-10">
                            <select class="" id="SelectedLossesDropDownId" style="" onchange="OnDropDownLossesChange()">
                                @if (Model.SelectedLossesId != null)
                                {
                                    <option value="@Model.SelectedLossesId" selected>@Model.SelectedLosses.DESCRIPTION</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.SelectedLossesId, "", new { @class = "text-danger" })
                            <br />
                            <br />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Duration (mins): *", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#A93226" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SelectedLossesMins, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SelectedLossesMins, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <button class="btn btn-success" title="Create" name="AddDetailLosses" type="submit" value="AddDetailLosses">
                        <span class="fa fa-plus"></span> Create Detail Losses
                    </button>

                </div>

            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@





    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>



    }

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/Header/HeaderJS.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.css" type="text/css" />
    <link href="~/Content/table-blue.css" rel="stylesheet" />
    <!-- Include SmartWizard JavaScript source -->
    <script type="text/javascript" src="~/Scripts/SmartWizard/js/jquery.smartWizard.js"></script>

    <!-- Include SmartWizard -->
    <link href="~/Scripts/SmartWizard/cs/smart_wizard.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/SmartWizard/cs/smart_wizard_theme_circles.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/SmartWizard/cs/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/SmartWizard/cs/smart_wizard_theme_dots.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">

        //$(document).ready(function () {
        //    document.getElementById("divDetails").style.display = "none";
        //    document.getElementById("divDetailLosses").style.display = "none";
        //});

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changemonth: true,
                changeyear: true
            });
        });

        $(function () {
            $('.timepicker').timepicker({
                timeFormat: 'h:mm',
                interval: 30,
                minTime: '8:00am',
                maxTime: '11:00pm',
                // defaultTime: '5:00pm',
                startTime: '8:00am',
                dynamic: true,
                dropdown: true,
                scrollbar: true,
                showLeadingZero: true
            });
        });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
    $("#smartwizard").on("beginReset", function (e) {

    //    var masterId = $('#ProductionMasterId').val();
    //if (confirm("Are you sure you want to cancel the wizard?")) {
    //var masterId = $('#ProductionMasterId').val();
    //if (masterId == "") {
    //window.location = "/Header/Index";
    //}
    //else {
    //$.ajax({
    //type: "POST",
    //url: '/Header/CancelWizard/',
    //data: { masterId: masterId },
    //success: function (response) {
    //window.location = "/Header/Index";
    //},
    //error: function (xhr, ajaxOptions, thrownError) {
    //alert(xhr.status);
    //alert(thrownError);
    //alert(xhr.responseText);
    //$(".loader").fadeOut("slow");
    //}
    //});
    //}
    //}
    //else {
    //$(".loader").fadeOut("slow");
    //}
    });

    $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
    });

    $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
    });

    var btnFinish = $('<button></button>')
    .attr('name', 'Save')
    .attr('value', 'Save')
    .attr('type', 'submit')
    .text('Save')
    .addClass('btn btn-info')
    .on('click', function () {
    $(".loader").fadeIn("slow");
    });
    //var btnSaveAndSubmit = $('<button></button>').text('Save and Submit for Review')
    //.attr('name', 'SaveAndSubmit')
    //.attr('value', 'SaveAndSubmit')
    //.attr('type', 'submit')
    //.addClass('btn btn-primary')
    //.on('click', function () {
    //$(".loader").fadeIn("slow");
    //});
    var btnCancel = $('<button></button>').text('Cancel')
    .addClass('btn btn-danger')
    .on('click', function () {
    $(".loader").fadeIn("slow");
    $('#smartwizard').smartWizard("reset");
    });

    $('#smartwizard').smartWizard({
    selected: @Model.SelectedStep,
    theme: 'arrows',
    keyNavigation: false,
    autoAdjustHeight: true,
    transitionEffect: 'fade',
    showStepURLhash: true,
    toolbarSettings: {
    toolbarPosition: 'both',
    toolbarButtonPosition: 'end',
        toolbarExtraButtons: [btnCancel, btnFinish]/*, btnSaveAndSubmit*/
    },
    anchorSettings: {
    anchorClickable: true,
    enableAllAnchors: true,
    markDoneStep: true,
    enableAnchorOnDoneStep: true
    },
    transitionSpeed: '400',
    errorSteps: [],
    });

    $("#reset-btn").on("click", function () {
    $('#smartwizard').smartWizard("reset");
    return true;
    });

    $("#prev-btn").on("click", function () {
    $('#smartwizard').smartWizard("prev");
    return true;
    });

    $("#next-btn").on("click", function () {
    $('#smartwizard').smartWizard("next");
    return true;
    });

    $("#theme_selector").on("change", function () {
    $('#smartwizard').smartWizard("theme", $(this).val());
    return true;
    });

    $("#theme_selector").change();
    });
    </script>

}
