@model ProductionHoursLosses.Models.ViewModels.HeaderViewModel
@using ProductionHoursLosses.Models
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HEADER</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            Date
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.HeaderModel.DATE)*@
            @Model.HeaderModel.DATE.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Factory
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeaderModel.FACTORY.NAME)
        </dd>

        <dt>
            Room
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeaderModel.ROOM.NAME)
        </dd>

        <dt>
            Avail. Hours
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeaderModel.AVAIL_HRS)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeaderModel.STATUS.NAME)
        </dd>

    </dl>

    <table id="example-advanced" class="treetable">
        <thead>
            <tr>
                <th style="text-align:center">
                    Product
                </th>
                <th style="text-align:center">
                    Start Time
                </th>
                <th style="text-align:center">
                    End Time
                </th>
                <th style="text-align:center">
                    Batch No.
                </th>
                <th style="text-align:center">
                    Work Order
                </th>
                <th style="width:100px; text-align:center">
                    Shift
                </th>
                <th style="text-align:center; width:100px">
                    Actual Duration
                </th>
                <th style="text-align:center; width:100px">
                    Unit Weight (mg)
                </th>
                <th style="text-align:center; width:100px">
                    Speed Machine RPM
                </th>
                <th style="text-align:center; width:100px">
                    Actual Quantity
                </th>
                <th style="text-align:center; width:100px">
                    Num. People
                </th>
                <th style="text-align:center; width:100px">
                    Units
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var det in Model.DetailsList)
            {
            <tr data-tt-id='@det.AA' data-tt-parent-id=''>
                <td>
                    <span class='folder'>@det.PRODUCT.DESCRIPTION</span>
                </td>
                <td>
                    @det.START_TIME.ToString("HH:mm")
                </td>
                <td>
                    @det.END_TIME.ToString("HH:mm")
                </td>
                <td>
                    @det.BATCH_NO
                </td>
                <td>
                    @det.WORK_ORDER
                </td>
                <td>
                    @det.SHIFT
                </td>
                <td>
                    @if (@det.ACTUAL_HRS.HasValue)  {@Html.Raw(string.Concat(@det.ACTUAL_HRS, " hrs"))} 
                    @if (@det.ACTUAL_MINS.HasValue) {@Html.Raw(string.Concat(@det.ACTUAL_MINS, " mins"))}
                </td>
                <td>
                    @det.UNIT_WEIGHT
                </td>
                <td>
                    @det.SPEED_MACHINE_RPM
                </td>
                <td>
                    @det.ACTUAL_QTY.Value.ToString("N3", new System.Globalization.CultureInfo("en-US"))
                </td>
                <td>
                    @det.NUM_PEOPLE
                </td>
                <td>
                    @det.UNITS.Value.ToString("N0", new System.Globalization.CultureInfo("it-IT"))
                </td>
            </tr>

                foreach (var loss in det.DetailLossesList)
                {
                    <tr data-tt-id='' data-tt-parent-id='@det.AA'>
                        <td></td>
                        <td>
                            <span class='file'>@loss.LOSSES.DESCRIPTION</span>
                        </td>
                        <td>
                            <span>@loss.DURATION mins</span>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts
{
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/loadingImage.css" rel="stylesheet" />

    <link href="~/Content/treetable/jquery.treetable.theme.default.css" rel="stylesheet" />
    <script src="~/Scripts/treetable/jquery.treetable.js"></script>


}
