@model IEnumerable<ProductionHoursLosses.Models.HEADER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AVAIL_HRS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FACTORY.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROOM.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AVAIL_HRS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FACTORY.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROOM.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
